local.settings.json
.env
.env.*
.vscode
exploration
out
documentation/FailedTranscripts.xlsx
src/loaders/models/vosk_model
bad_h5p_zips
.venv
.git
.pytest_cache
.mypy_cache
__pycache__
db
logs
evaluation
outputs
rag_eval
