## python
**/.venv
**/__pycache__
**/.pytest_cache

## vector store
**/qdrant_storage

# Local environment variables and keys
.env

## Local dev
outputs

## tmp
tmp
.DS_Store
db

## Failed Transcripts
FailedTranscripts.xlsx